<div class="bg-image"></div>
<div class="bg-content">
  <h2>Our Services</h2>
  <div class="services-container">
    <div class="service-box service-wax">
      <div class="service-icon"></div>
      <h3>Waxing</h3>
      <p>
        Whether you're looking to remove hair from your legs, arms, underarms,
        or bikini area, waxing can provide long-lasting results. This service
        involves applying warm wax to the skin and then removing it along with
        unwanted hair.
      </p>
    </div>
    <div class="service-box service-treatment">
      <div class="service-icon"></div>
      <h3>Facial Treatments</h3>
      <p>
        These services can include deep cleansing, exfoliation, and hydration to
        help improve the look and feel of your skin. Additional services may
        include facials tailored to specific skin concerns, such as acne, aging,
        or sensitivity.
      </p>
    </div>
    <div class="service-box service-therapy">
      <div class="service-icon"></div>
      <h3>Massage Therapy</h3>
      <p>
        A massage can help relieve stress, tension, and soreness in your
        muscles, leaving you feeling relaxed and rejuvenated. Services may
        include Swedish, deep tissue, or hot stone massage, among others.
      </p>
    </div>
  </div>
  <div class="services-container">
    <div class="service-box service-haircut">
      <div class="service-icon"></div>
      <h3>Haircut and Style</h3>
      <p>
        This service typically involves a consultation with a stylist to
        determine the best cut and style for your hair, followed by a shampoo,
        cut, blow dry, and finishing touches to achieve the desired look.
      </p>
    </div>
    <div class="service-box service-color">
      <div class="service-icon"></div>
      <h3>Hair Coloring</h3>
      <p>
        A stylist can help you choose the perfect shade for your hair, whether
        you're looking to cover up grays or make a bold change. Services may
        include highlights, lowlights, balayage, or all-over color.
      </p>
    </div>
    <div class="service-box service-pedicure">
      <div class="service-icon"></div>
      <h3>Manicure and Pedicure</h3>
      <p>
        These services typically involve cleaning, trimming, and shaping nails,
        as well as applying polish or gel to achieve a polished look. Additional
        services may include exfoliation, massage, or nail art.
      </p>
    </div>
  </div>
  <p>(Click one to reserve an appointment)</p>
</div>
